# Wash car project

In [1]:
import numpy as np
import pandas as pd

In [19]:
df = pd.read_csv('/content/AutoInsuranceCustomers.csv')
print(df.columns)
print(len(df.columns))

Index(['CUSTOMER', 'NAME', 'COUNTRY', 'EMAIL_ADDRESS', 'PHONE_NUMBER',
       'GENDER', 'NATIONAL_ID', 'CREDITCARD_NUMBER', 'CREDITCARD_TYPE',
       'CREDITCARD_EXP', 'CREDITCARD_CVV', 'EDUCATION', 'EMPLOYMENT_STATUS',
       'INCOME', 'MARITAL_STATUS', 'CUSTOMER_LIFETIME_VALUE',
       'NUMBER_OF_POLICIES', 'NUMBER_OF_CLOSED_COMPLAINTS',
       'NUMBER_OF_COMMUNICATIONS', 'NUMBER_OF_COMPLAINTS',
       'NUMBER_OF_OPEN_COMPLAINTS'],
      dtype='object')
21

In [20]:
vehicle = ["2018 Vantage-Aston Martin", "2012 Vanquish-Aston Martin", "2016 M2 Coupe-BMW", "2014 M4 Coupe-BMW", "1966 Nova Super Sport-Chevrolet", "1960 Corvette-Chevrolet", "2018 Durango SRT-Dodge", "2017 GTC4Lusso-Ferrari", "2015 F12TDF-Ferrari", "2002 Enzo Ferrari-Ferrari", "1962 250 GTO-Ferrari", "2018 #25 Mustang RTR-Ford", "2018 Mustang GT-Ford", "2017 F-150 Raptor-Ford", "2014 Ranger T6 Rally Raid-Ford", "2014 Fiesta ST-Ford", "1975 Bronco-Ford", "2018 Civic Type R-Honda", "2017 F-Pace S-Jaguar","2018 Grand Cherokee Trackhawk-Jeep", "2012 Wrangler Rubicorn-Jeep"]
df['VEHICLE'] = vehicle

In [21]:
# prompt: generate con una fila df un  dictionary with keys customer, name, email, creditcard_number, creditcard_type

def generate_dictionary(row):
  """Generates a dictionary from a DataFrame row.

  Args:
    row: A pandas Series representing a row of the DataFrame.

  Returns:
    A dictionary with keys 'customer', 'name', 'email', 'creditcard_number',
    'creditcard_type'.
  """
  return {
      'customer': row['CUSTOMER'],
      'name': row['NAME'],
      'email': row['EMAIL_ADDRESS'],
      'creditcard_number': row['CREDITCARD_NUMBER'],
      'creditcard_type': row['CREDITCARD_TYPE'],
      'vehicle': row['VEHICLE']
  }

# Example usage:
first_row = df.iloc[0]  # Get the first row of the DataFrame
dictionary_from_first_row = generate_dictionary(first_row)
print(dictionary_from_first_row)

{'customer': 'CW12345', 'name': 'Amy Blanks', 'email': 'ablanks@renovations.com', 'creditcard_number': 45186546347123700, 'creditcard_type': 'VISA', 'vehicle': '2018 Vantage-Aston Martin'}

In [22]:
df.to_csv('washcar.csv', index=False)